$vertical-padding: 18px; // padding on top and bottom of each tab
$space-between-tabs: $vertical-padding; // number of pixels between tabs
$active-border-width: 2px; // width of the active tabs bottom border

%inline-links {
  //HACK to prvent completely unreasonable colapse behavior on nline links
  padding: $vertical-padding 0;

  a {
    padding: $vertical-padding ($space-between-tabs / 2);
  }
}

.inline-links {
  @extend %inline-links;
}

.material-tabs {
  @extend %inline-links;

  a {
    &:visited {
      color: $white;
    }

    &:hover,
    &:focus {
      $tab-hover-color: rgba(0, 0, 0, .2);
      background: $tab-hover-color;
      text-decoration: none;
    }

    &.active {
      border-bottom: $active-border-width solid $secondary-color;
      color: $secondary-color;
      padding-bottom: $vertical-padding - $active-border-width;
      text-decoration: none;
    }
  }
}
