{% extends 'public/index.html' %}


{% block content %}
<div class="container">
  <h3>Login</h3>
  <hr/>
  <form action="/users/authorize/" method="post">
    <label>
      Email
      <input name="email" type="email"/>
    </label>
    <label>
      Password
      <input name="password" type="Password"/>
    </label>
    <input type="submit"/>
  </form>
  <a>Forgot Password?</a>
  <a href="{{ url_for('oauth.github_auth') }}">Github Login</a>
  <a href="{{ url_for('oauth.spotify_auth') }}">Spotify Login</a>
</div>
{% endblock %}
